{% extends "padre.html" %}

{% load static %}

{% block body %}
<div class="jumbotron jumbotron-fluid mb-5">
    <div class="container text-center py-5">
        <h1 class="text-primary mb-3">CREAR MENSAJE</h1>


    <form action="{% url 'mensajeformulario' %}" method="POST" > {% csrf_token %}
          <table>
              {{ form.as_table }}
          </table>
        <input type="submit" value="ENVIAR MENSAJE">

    </form>

    </div>
</div>
<div class="container text-center py-5">
    <h4 class="font-weight-bold mb-3" style="color:#FBF8F1";> {{ mensaje }} </h4>
</div>


{% endblock %}

