{% extends "padre.html" %}

{% load static %}

{% block body %}

    <div class="jumbotron jumbotron-fluid mb-5">
        <div class="container text-center py-5">
            <h1 class="text-primary mb-3">Agregando Avatar de: {{ usuario.username }}</h1>
            <form action="{% url 'agregaravatar' %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                <table>
                    {{ formulario.as_table }}
                </table>
                <input type="submit" value="ACEPTAR">
            </form>
        </div>
    </div>

    {{ mensaje }}

{% endblock %}